In [1]:
z=('a','b',4)

In [2]:
type(z)

tuple

In [4]:
#z[1]=4 #TypeError: 'tuple' object does not support item assignment

In [5]:
#Tuple is immutable meaning length and values won't change
#also float is immutable
z2= 5.0
z2

5.0

In [6]:
z2= 13.4
z2

13.4

In [7]:
## even though value is changing however the name of variable is just pointing to other no.

In [9]:
sl = ('a','b','s')

In [12]:
''.join(sl[::-1])

'sba'

In [13]:
## List

In [14]:
z  =[1,2,3]
t = [4,5,6,'a']

In [15]:
z+t

[1, 2, 3, 4, 5, 6, 'a']

In [17]:
print('Concat list {}+{} = {}'.format(z,t,z+t))

Concat list [1, 2, 3]+[4, 5, 6, 'a'] = [1, 2, 3, 4, 5, 6, 'a']

In [18]:
print(f'Concat list {z}+{t} = {z+t}')

Concat list [1, 2, 3]+[4, 5, 6, 'a'] = [1, 2, 3, 4, 5, 6, 'a']

In [16]:
#z[start:stop:step]
z[::2]

[1, 3]

In [19]:
## list constructor ## defining empty list
s = []
y = list()

In [20]:
## zip to merge two or more collections
list(zip(z,t))

[(1, 4), (2, 5), (3, 6)]

In [23]:
[(f,b) for f,b in zip(z+t,z+t[::-1])]

[(1, 1), (2, 2), (3, 3), (4, 'a'), (5, 6), (6, 5), ('a', 4)]

In [25]:
tuple((f,b) for f,b in zip(z+t,z+t[::-1]))

((1, 1), (2, 2), (3, 3), (4, 'a'), (5, 6), (6, 5), ('a', 4))

# Time complexity
## Insert vs append

In [32]:
c1=[]
c1 = %timeit -c -n1000 -r100 c1.append('a')

The slowest run took 11.69 times longer than the fastest. This could mean that an intermediate result is being cached.
263 ns ± 233 ns per loop (mean ± std. dev. of 100 runs, 1000 loops each)

In [33]:
c1=[]
c1 = %timeit -c -n1000 -r100 c1.insert(0,'a')

The slowest run took 62.79 times longer than the fastest. This could mean that an intermediate result is being cached.
58.6 µs ± 33.6 µs per loop (mean ± std. dev. of 100 runs, 1000 loops each)

## append is faster bec. in insert will check index and every element will need to be shifted

In [34]:
c1=[]
c1 = %timeit -c -n1000 -r100 c1.insert(-1,'a')

The slowest run took 7.57 times longer than the fastest. This could mean that an intermediate result is being cached.
332 ns ± 133 ns per loop (mean ± std. dev. of 100 runs, 1000 loops each)

In [35]:
## Searching element in list
## Using in , it is slow
1 in z

True

In [36]:
## 
# for i in range(n):
#     a+b ## will be primitive operation will require O(1)

# ## however index is not a primitive option , it will require O(n)

In [38]:
## Both x and y will get pointed to same object ie.[1,2,3] and once append works it will change object to [1,2,3,4]
x = [1,2,3]
y=x
x.append(4)
print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [39]:
x is y

True

In [40]:
z= x.copy()

In [41]:
z is x

False

In [42]:
z is not x

True

In [45]:
x = [1,2,3]
x.append([4,5,6])
y = x.copy()

y[3].append(7)
print(x)
print(y)

[1, 2, 3, [4, 5, 6, 7]]
[1, 2, 3, [4, 5, 6, 7]]

In [46]:
## Shallow and deep copy

## SETS

In [59]:
A={1,2,3,4,5}
B = {3,4,5,6,7,8}

In [60]:
A&B

{3, 4, 5}

In [61]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
#A+B

In [63]:
A.add(8)
A

{1, 2, 3, 4, 5, 8}

In [64]:
A.update({-2})
A

{-2, 1, 2, 3, 4, 5, 8}

In [72]:
def xs(sd):
    return(f'Your :{sd+1}')

In [73]:
xs(10)

'Your :11'

In [74]:
round(11.5555,1)

11.6

In [75]:
for _ in range(4):
    print('1')

1
1
1
1

In [77]:
s = 'the quick  brown   fox jumped over     the lazy  dog'
kk = [x.isalpha() or x == ' ' for x in s]

In [78]:
len(kk)

52

In [79]:
len(s)

52

In [81]:
#kk

In [83]:
d={}
for i in range(len(s.split(' '))):
    d[i]=len(s.split(' ')[i])

In [85]:
[len(s.split(' ')[i]) for i in range(len(s.split(' '))) if len(s.split(' ')[i])>0 ]

[3, 5, 5, 3, 6, 4, 3, 4, 3]

In [104]:
ss= [3, 5, 5, 3, 6, 4, 3, 4, 3]

In [91]:
ss.remove(3)

In [92]:
ss

[5, 5, 3, 6, 4, 3, 4, 3]

In [105]:
def pops(ser,x):
    return([ser.remove(i) for i in ser if(i == x)])

In [106]:
pops(ss,3)

[None, None, None, None]

In [107]:
def pops(ser,x):
    for i in ser:
        if i == x:
            ser.remove(i) 
    return ser

In [108]:
pops(ss,3)

[5, 5, 6, 4, 4]

In [1]:
x = [0.0, 0.87, 0.0, 0.0, 0.0, 0.32, 0.46, 0.0, 0.0, 0.10, 0.0, 0.0]

In [3]:
d = {'inds': [], 'vals': []}
d['inds'] = [1, 5, 6, 9]
d['vals'] = [0.87, 0.32, 0.46, 0.10]

In [19]:
d = {'inds': [], 'vals': []}
for index, value in enumerate(x):
        if value !=0:
            d['inds'].append(index)
            d['vals'].append(value)

In [20]:
d

{'inds': [1, 5, 6, 9], 'vals': [0.87, 0.32, 0.46, 0.1]}

In [8]:
# for i in range(len(x)):
#     print(i)

In [21]:
# for index,value in enumerate(x):
#     if value ==0:

In [85]:
d ={}

In [86]:
d['inds'] = [0,   3,   7,   3,   3,   5, 1]
d['vals'] = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

# # ind:  0    1    2    3*    4    5    6    7
# x == [1.0, 7.0, 0.0, 11.0, 0.0, 6.0, 0.0, 3.0]

In [96]:
d['inds']

[0, 3, 7, 3, 3, 5, 1]

In [94]:
#d.keys()
list(d.items())[0][1]

[0, 3, 7, 3, 3, 5, 1]

In [113]:
x = [0.0] * (max(d['inds'])+1)
#for key,value in d:

In [114]:
for r,y in enumerate(d['inds']):
    x[y]=x[y]+d['vals'][r]
       
# for (key,value) in d.values():
#     for i in range(0,max(d['inds'])):
#         print(key[i],value[i])
#     d
# #    x[key] = x[key]+value

0 0 1.0
1 3 2.0
2 7 3.0
3 3 4.0
4 3 5.0
5 5 6.0
6 1 7.0

In [116]:
x

[1.0, 7.0, 0.0, 11.0, 0.0, 6.0, 0.0, 3.0]

In [84]:
for r,y in enumerate(x):
    print(r,y)

0 0.0
1 0.0
2 0.0
3 0.0
4 0.0
5 0.0
6 0.0

In [121]:
ss = set(x)
list(ss)

[0.0, 1.0, 3.0, 6.0, 7.0, 11.0]

In [122]:
grades = [
    # First line is descriptive header. Subsequent lines hold data
    ['Student', 'Exam 1', 'Exam 2', 'Exam 3'],
    ['Thorny', '100', '90', '80'],
    ['Mac', '88', '99', '111'],
    ['Farva', '45', '56', '67'],
    ['Rabbit', '59', '61', '67'],
    ['Ursula', '73', '79', '83'],
    ['Foster', '89', '97', '101']
]

grades

[['Student', 'Exam 1', 'Exam 2', 'Exam 3'],
 ['Thorny', '100', '90', '80'],
 ['Mac', '88', '99', '111'],
 ['Farva', '45', '56', '67'],
 ['Rabbit', '59', '61', '67'],
 ['Ursula', '73', '79', '83'],
 ['Foster', '89', '97', '101']]

In [126]:
[grades[i][0]  for i in range(1,len(grades))]

['Thorny', 'Mac', 'Farva', 'Rabbit', 'Ursula', 'Foster']

In [128]:
grades[1][1:]

['100', '90', '80']

In [137]:
grades

[['Student', 'Exam 1', 'Exam 2', 'Exam 3'],
 ['Thorny', '100', '90', '80'],
 ['Mac', '88', '99', '111'],
 ['Farva', '45', '56', '67'],
 ['Rabbit', '59', '61', '67'],
 ['Ursula', '73', '79', '83'],
 ['Foster', '89', '97', '101']]

In [148]:
len(grades[0])

4

In [143]:
d={}
for i in range(1,len(grades)):
    d[grades[i][0]] = list(map(int, grades[i][1:]))

In [144]:
d

{'Thorny': [100, 90, 80],
 'Mac': [88, 99, 111],
 'Farva': [45, 56, 67],
 'Rabbit': [59, 61, 67],
 'Ursula': [73, 79, 83],
 'Foster': [89, 97, 101]}

In [142]:
#{d[grades[i][0]]:grades[i][1:] for i in range(1,len(grades))}

In [157]:
d={}
for i in range(1,len(grades)):
    k={}
    for j in range(1,len(grades[0])):
        k[grades[0][j]]=int(grades[i][j])
        d[grades[i][0]] = k

In [158]:
d

{'Thorny': {'Exam 1': 100, 'Exam 2': 90, 'Exam 3': 80},
 'Mac': {'Exam 1': 88, 'Exam 2': 99, 'Exam 3': 111},
 'Farva': {'Exam 1': 45, 'Exam 2': 56, 'Exam 3': 67},
 'Rabbit': {'Exam 1': 59, 'Exam 2': 61, 'Exam 3': 67},
 'Ursula': {'Exam 1': 73, 'Exam 2': 79, 'Exam 3': 83},
 'Foster': {'Exam 1': 89, 'Exam 2': 97, 'Exam 3': 101}}

In [159]:
grades

[['Student', 'Exam 1', 'Exam 2', 'Exam 3'],
 ['Thorny', '100', '90', '80'],
 ['Mac', '88', '99', '111'],
 ['Farva', '45', '56', '67'],
 ['Rabbit', '59', '61', '67'],
 ['Ursula', '73', '79', '83'],
 ['Foster', '89', '97', '101']]

In [165]:
grades

[['Student', 'Exam 1', 'Exam 2', 'Exam 3'],
 ['Thorny', '100', '90', '80'],
 ['Mac', '88', '99', '111'],
 ['Farva', '45', '56', '67'],
 ['Rabbit', '59', '61', '67'],
 ['Ursula', '73', '79', '83'],
 ['Foster', '89', '97', '101']]

In [175]:
s={}
for i in range(1,len(grades[0])):
    l=[]
    for j in range(1,len(grades)):
        print(i,j,grades[j][i])
        l.append(int(grades[j][i]))
        s[grades[0][i]] = l

1 1 100
1 2 88
1 3 45
1 4 59
1 5 73
1 6 89
2 1 90
2 2 99
2 3 56
2 4 61
2 5 79
2 6 97
3 1 80
3 2 111
3 3 67
3 4 67
3 5 83
3 6 101

In [176]:
s

{'Exam 1': [100, 88, 45, 59, 73, 89],
 'Exam 2': [90, 99, 56, 61, 79, 97],
 'Exam 3': [80, 111, 67, 67, 83, 101]}

In [180]:
from statistics import mean
grade_lists={}
for i in range(1,len(grades)):
    grade_lists[grades[i][0]] = mean(list(map(int, grades[i][1:])))

print(grade_lists,sorted(grade_lists,key=grade_lists.get))

{'Thorny': 90, 'Mac': 99.33333333333333, 'Farva': 56, 'Rabbit': 62.333333333333336, 'Ursula': 78.33333333333333, 'Foster': 95.66666666666667} ['Farva', 'Rabbit', 'Ursula', 'Thorny', 'Foster', 'Mac']