In [26]:
def fibo(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else :
        return fibo(n-1) + fibo(n-2)

In [30]:
fibo(9)
##fibo(3)+fibo(2)
# fibo(2)+fibo(1)+fibo(1)+fibo(0)
## fibo(1)+fibo(0)+fibo(1)+fibo(1)+fibo(0)
## 1+1+1+1+0+0
#0,1,1,2,3,5,8,13,21

21

In [32]:
a=[]
for i in range(1,10):
    l=fibo(i)
    a.append(l)

In [33]:
a

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [37]:
si={}
for i in range(1,10):
    si[i]=fibo(i)

In [36]:
si

{1: 0, 2: 1, 3: 1, 4: 2, 5: 3, 6: 5, 7: 8, 8: 13, 9: 21}

In [40]:
import pandas as pd

In [52]:
pd.DataFrame.from_dict(si,orient ='index',columns=['fibo'])

   fibo
1     0
2     1
3     1
4     2
5     3
6     5
7     8
8    13
9    21

In [51]:
pd.DataFrame(a, columns=['fibo'])

   fibo
0     0
1     1
2     1
3     2
4     3
5     5
6     8
7    13
8    21