In [1]:
#apply function
import pandas as pd
import numpy as np

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

In [2]:
df

   calories  duration
0       420        50
1       380        40
2       390        45

In [8]:
## Axis = 1 it will go along rows

In [6]:
df['calperdur']=np.round(df.apply(lambda x: x['calories']/x['duration'],axis=1),2)

In [7]:
df

   calories  duration  calperdur
0       420        50       8.40
1       380        40       9.50
2       390        45       8.67

In [9]:
def calc(x):
    return(x['calories']/x['duration'])

In [12]:
df['calperdur_func']=np.round(df.apply(calc,axis=1),2)

In [13]:
df

   calories  duration  calperdur  calperdur_func
0       420        50       8.40            8.40
1       380        40       9.50            9.50
2       390        45       8.67            8.67

## Making dataframe in loop

In [16]:
d = {}
for name in ['1999','2000']:
    d[name] = pd.DataFrame()
d

{'1999': Empty DataFrame
 Columns: []
 Index: [],
 '2000': Empty DataFrame
 Columns: []
 Index: []}

## melt  - transforming rows into columns, more like expansion
## and pivot ## compression transform columns back into rows
## Groupby

In [18]:
pd.melt(df, id_vars=['calories'], value_vars=['duration','calperdur'])

   calories   variable  value
0       420   duration  50.00
1       380   duration  40.00
2       390   duration  45.00
3       420  calperdur   8.40
4       380  calperdur   9.50
5       390  calperdur   8.67

## Define dataframe with fixed cols

In [21]:
fixed_vars = df.columns.difference(['calperdur', 'calperdur_func'])
tibble = pd.DataFrame(columns=fixed_vars) # empty frame
tibble

Empty DataFrame
Columns: [calories, duration]
Index: []

In [25]:
df.describe().loc['count']

calories          3.0
duration          3.0
calperdur         3.0
calperdur_func    3.0
Name: count, dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   calories        3 non-null      int64
 1   duration        3 non-null      int64
 2   calperdur       3 non-null      float64
 3   calperdur_func  3 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 224.0 bytes

## Debugging row with datatype issue when applying lambda function